{% extends 'flight/layout.html' %}
{% load static %}
{% block body %}
<head>
<link href="{% static 'flight/home.css' %}" rel="stylesheet"></a>
</head>
<body>
    <div class="lal">
        <img src="{% static 'la.jpg' %}">
    </div>
    <div class="lal">
        <h4>The musk</h4>
        <p>rererererererererererererererererererererere<br>brbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrrbr
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
    rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
    </div>
    <div class="lal">
        <img src="{% static 'la.jpg' %}">
    </div>
    <div class="lal">
        <h4>The musk</h4>
        <p>rererererererererererererererererererererere<br>brbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrrbr
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
    rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
    </div>
    <div class="lal">
        <img src="{% static 'la.jpg' %}">
    </div>
    <div class="lal">
        <h4>The musk</h4>
        <p>rererererererererererererererererererererere<br>brbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrrbr
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
    rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
    </div>
</body>
{% endblock %}