{% extends 'flight/layout.html' %}

{% block body %}
    <h1>Register Form</h1>
    <form class="form" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        FirstName: <input type="text" name="first name" required></br>
        LastName: <input type="text" name="last name" required></br>
        <label><b>Male</b></label>
            <input type="radio" name="sex" value="male" required>
        <label><b>Female</b></label>
            <input type="radio" name="Female" value="Female" required>
        <input type="submit">
    </form>
    <a href="{% url 'home' %}">Back to home page</a>
{% endblock %}