{% extends 'flight/layout.html' %}
{% load static %}
{% block body %}
    <link href="{% static 'flight/home.css' %}" rel="stylesheet"></a>
    <form class="form" action="../insertuser/" method="post">
        <h2>Registeration Form</h2>
        {% csrf_token %}
        Origin: <input type="text" name="Origin"  required></br>
        Destination: <input type="text" name="Destination"  required></br>
        FirstName: <input type="text" name="first name"  required></br>
        LastName: <input type="text" name="last name"  required></br>
        <label><b>Male</b></label>
            <input type="radio" name="sex" value="male" required>
        <label><b>Female</b></label>
            <input type="radio" name="Female" value="Female" required></br>
            pay: <input type="number" required>
        <button id="button"type="submit">Submit</button>
        <div id="message"></div>
    </form>
    <script>
        // Get The button Element
        const button = document.getElementById('button');
        // add a click event listener to the button
        button.addEventListener('click', function(){
            const message = document.getElementById('message');
            message.textcontent = "congrat's!";
        });
    </script>
{% endblock %}