{% extends 'flight/layout.html' %}
{% load static %}
{% block body %}
    <head>
        <title>Ethiopian Airlines</title>
        <link href="{% static 'flight/home.css' %}" rel="stylesheet"></a>
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            </div>
            <h1>Welcome To Ethiopian Airlines</h1>
            <h2>where you want to go</h2>
            <div class="box">
                <img src="{% static 'ba.jpg' %}">
                <h3>Hawassa</h3>
                <p>Book your flight ticket from Hawassa to Addis Ababa<br>immerse yourself in Ethiopian cluture and hospita;ity</p>
                <a href="{% url 'form' %}">Book Now</a>
            </div>
            <div class="box">
                <img src="{% static 'di.jpg' %}">
                <h3>Bahir Dar</h3>
                <p>Book your flight ticket from Bahir Dar to Addis Ababa<br>immerse yourself in Ethiopian cluture and hospita;ity</p>
                <a href="{% url 'form' %}">Book Now</a>
            </div>
            <div class="box">
                <img src="{% static 'ba.jpg' %}">
                <h3>Mekkelle</h3>
                <p>Book your flight ticket from Mekelle to Addis Ababa<br>immerse yourself in Ethiopian cluture and hospita;ity</p>
                <a href="{% url 'form' %}">Book Now</a>
            </div>
            <div class="box">
                <img src="{% static 'ba.jpg' %}">
                <h3>Mekkelle</h3>
                <p>Book your flight ticket from Mekelle to Addis Ababa<br>immerse yourself in Ethiopian cluture and hospita;ity</p>
                <a href="{% url 'form' %}">Book Now</a>
            </div>
            <div class="box">
                <img src="{% static 'ba.jpg' %}">
                <h3>Mekkelle</h3>
                <p>Book your flight ticket from Mekelle to Addis Ababa<br>immerse yourself in Ethiopian cluture and hospita;ity</p>
                <a href="{% url 'form' %}">Book Now</a>
            </div>
            <div class="box">
                <img src="{% static 'la.jpg' %}">
                <h3>Lallibela</h3>
                <p>Book your flight ticket from Mekelle to Addis Ababa<br>immerse yourself in Ethiopian cluture and hospita;ity</p>
                <a href="{% url 'form' %}">Book Now</a>
            </div>
            <div class="contact">
                <img src="{% static 'aa.jpg' %}">
                <h3>contact our call center</h3>
                <p>our call center is available 24/7 to assist you<br>with Booking, reservation,ticket changes<br>and any travel questions</p>
            </div>
    </body>
{% endblock %}