{% extends 'flight/layout.html' %}

{% block body %}
    <body>
        <div id="banner">
            <div class="navbar">
            <ul>
                <li><a href="#contact">Contact Me</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#Portifolio">Portifolio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#header">Home</a></li>
            </ul>
    </body>
    <a href="{% url 'form' %}">Register</a>
{% endblock %}
 