{% extends 'flight/layout.html' %}
{% load static %}
{% block body %}
<head>
<link href="{% static 'flight/home.css' %}" rel="stylesheet"></a>
</head>
<body>
    <div class="lal">
        <img src="{% static 'la.jpg' %}">
        <h1>The musk</h1>
        <p>rererererererererererererererererererererere<br>brbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrrbr</p>
    </div>
    <div class="lal">
        <img src="{% static 'la.jpg' %}">
        <h1>The musk</h1>
        <p>rererererererererererererererererererererere<br>brbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrrbr</p>
    </div>
    <div class="lal">
        <img src="{% static 'la.jpg' %}">
        <h1>The musk</h1>
        <p>rererererererererererererererererererererere<br>brbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrbrrbr</p>
    </div>
    <a href="{% url 'form' %}">Book Now</a>
</body>
{% endblock %}