*{
    margin: 0%;
    padding: 0%;
}

.navbar {
    width: 90%;
    margin: 0;
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    direction: rtl;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color:black;
    
}
.navbar ul li a{
    text-align: none;
    color: #fff;
    text-transform: uppercase;
    color:#fff;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 150px;
    font-size: 70px;
}

h2 {
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

.box {
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 50px;
    box-shadow: 0 10px 45px  #009688;
    box-sizing: border-box;
}

.form {
    text-align: center;
    padding: 100px;
    margin: 10px;
}
img {
    width: 350px;
    height: auto;
    border-radius: 5px;
}

input{
    font-size: 1.5em;
    line-height: 20px;
    margin: 10px;
    background: transparent;

}

a {
    display: inline-block;
    padding:8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 16px;
    color: #fff;
}
.co {
    padding: 50px;
    box-shadow: 0 10px 45px  #009688;
    box-sizing: border-box;
}