.navbar ul{
    display: inline-block;
    justify-content: space-between;
    text-align: end;

}

h1 {
    text-align: center;
    padding: 150px;
    font-size: 70px;
}

h2 {
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

.box {
    width: 300px;
    height: 50px;
    display: inline-block;
    margin: 50px;

}
.form {
    text-align: center;
    padding: 100px;
    margin: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
img {
    width: 350px;
    height: auto;
}

input{
    font-size: 1.5em;
    line-height: 20px;
    margin: 10px;
    background: transparent;

}
